# dependencias
node_modules/

# build
dist/
.astro/
.output/
.vercel/

# entorno
.env
.env.production
.env.local
*.local

# sistema
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# paquete de entrega inicial
referencia/rnr-astro.zip
_to_delete/
